

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Poppins:wght@800&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
a,
a:link,
a:visited{
    text-decoration: none;
    outline: none;
    border: none;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
section,
span,
p{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    background-image: url(./img/alice-pasqual-xdD-x2Y2SPI-unsplash.jpg);
    background-position:center ;
    background-size: center;
    background-attachment: fixed;
    height: 100vh;
}

.header-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.header-logo{
    font-size: 16px;
    letter-spacing: 2px;
    border-bottom: 5px solid #000;
    border-radius: 35px;
    padding-bottom: 5px;
 }


ul{
    display: flex;
}

li{
    margin-left: 27px;
}

li:first-child{
    margin-right: 70px;
}

a{
color: black;
font-weight: bold;
font-size: 15px;

}

.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-size: 8.5rem;
    font-weight: 100;
    line-height: 0.4;
    letter-spacing: 2px;
    font-family: 'Herr Von Muellerhoff', cursive;

}

.first-letter{
    font-size: 10.3rem;
    font-family: 'Herr Von Muellerhoff', cursive;
    color:#2c1c06 ;
}
h3{
    margin-bottom: 25px;
    font-size: 22px;
}

.btn-tea{
    display: block;
    background-color: #2c1c06;
    color: white;
    padding: 10px 15px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    position: relative;
    overflow: hidden;
}

.btn-tea::after{
    content: "BUY";
    position: absolute;
    top: 100%;
    left: 0;
    background-color:  #392407;;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.btn-tea:hover::after{
    top: 0;

}
/*ABOUT*/

.about{
    margin-bottom: 150px;
}

.about-title{
    margin-bottom: 60px 0;

}

.about-title h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #392407;
    font-size: 30px;
    font-weight: 600;


}

.about-title h2::after{
    content: ""; 
    width: 30px;
    height: 3px;
    background-color: #392407;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    
}

.about-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}

.about-img{
    width: 40%;

}

.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_text{
    width: 40%;

}

h4{
    margin-bottom: 25px;
    text-align: center;
    font-size: 60px;
    color: #392407;
    font-family: 'Herr Von Muellerhoff', cursive;
    letter-spacing: 0.5rem;
    font-weight: 100;
}


.about-text p{
    font-size: 15px;
    text-align: center;
    color: #2c272c;
}

/*PORTFOLIO*/
.portfolio{
display: flex;
flex-wrap: wrap;

}

.portfolio-item{
    width: 25%;
    height: 300px;
    overflow: hidden;
    position: relative;

}

.portfolio-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
width: 100%;
height: 100%;
background-color: #2d1602;
position: absolute;
top: 100%;
left: 0;
opacity: 0.8;
color: white;
font-size: 50px;
display: flex;
justify-content: center;
align-items: center;
transition: .5s;
}

.portfolio-item:hover .overlay{
top:0;

}

.portfolio-item:hover img{
    transform: scale(1.1);
}

/*CONTACT*/
 
.contact{
    padding: 10px 0;
}

.contact h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #4b3514;
    font-size: 30px;
    font-weight: 600;

}

.contact h2::after{
    content: ""; 
    width: 30px;
    height: 3px;
    background-color:  #4b3514;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    
}

.contact-content{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;

}

.contact-item{
    display: flex;
    align-items: center;
    flex-basis: 33%;
    margin-bottom: 100px;
    flex-direction: column;
}

.contact-item i{
    font-size: 25px;
    margin-bottom: 30px;
    color:#4b3514;
   
}

.contact-item p{
    font-size: 14px;
    line-height: 33px;

}

.footer h2{
     width:100%;
     text-align: center;
     margin: 0 auto;
     color: #4b3514;
     font-size: 30px;
     font-weight: 600;
     padding: 55px 0;

}

.footer h2::after{
    content: "";
    width: 30px;
    height: 3px;
    background-color: #4b3514;
    margin: 0 auto;
    display: block;
    margin-top: 10px;

}

.footer{
  background-color: #000;
}

.footer-copyright{
    color: #ffff;
    text-align: center;
    flex-basis: 55%;
    line-height: 2;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-social i{
    color:#fff;
    margin-bottom: 50px;
    font-size: 25px;
    padding: 0 45px;

}

.footer-social:first-child{
   margin-left: 70px;


}

#menu-icon{
    font-size: 25px;
    display: none;
    margin-left:  50px;

}

@media only screen and (max-width:800px){
    .header-menu ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: #4b300b;
        width: 100px;
        overflow: hidden;
        transition: max-height .5s;
    }

}
.header-menu ul li{
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.header-menu ul li a{
    color: #fff;
}

.header-menu #menu-icon{
    display: block;
    cursor: pointer;
}
